
html {
    height: 100%;
}


body {
    background: #876555;
    height: 100%;
    font-family: Meta;
    opacity: 0;
    transition: all 0.4s;
}

#wrapper {
   max-width: 1280px;
   min-height: 100%;
   background: url(../Files/Pages/Home/Pictures/background.jpg); 
   background-size: cover;
   background-position: left center;
   margin: auto;
}

#wrapper-detail {
   max-width: 1280px;
   min-height: 100%;
   background: url(../Files/Products/01/pictures/background.jpg) no-repeat;
   background-position: left top;
   background-color: #411c13;
   margin: auto;
}

#wrapper-photo-1 {
   max-width: 1280px;
   min-height: 100%;
   background: url(../Files/Pages/Static/background-01.jpg) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: auto;
}
#wrapper-photo-2 {
   max-width: 1280px;
   min-height: 100%;
   background: url(../Files/Pages/Static/background-02.jpg) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: auto;
}
#wrapper-photo-3 {
   max-width: 1280px;
   min-height: 100%;
   background: url(../Files/Pages/Static/background-03.jpg) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: auto;
}
#wrapper-photo-4 {
   max-width: 1280px;
   min-height: 100%;
   background: url(../Files/Pages/Static/background-master.jpg) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: auto;
}

#wrapper-data-page {
   max-width: 1280px;
   min-height: 100%;
   right: 0;
   left: 0px;
   background: url(../Files/Pages/DataPage/Pictures/background.jpg) no-repeat;
   background-attachment: fixed;
   background-size: cover;
   margin: auto;
}




main {
    margin: 0 auto;
    z-index: 500;
}


#copyright {
    background: #0C0503;
  
    padding-top: 15px;
    padding-bottom: 13px;
    color: #ebcbaf;
    opacity: 0.5;
    text-align: right;
    letter-spacing: 1px;
    font-size: 11px;
    padding-right: 2%;
}

/* PAGE HEADER */
#pageHeader{}
/* END - PAGE HEADER */


/*BUG FIX*/

.selectWrapper {
  overflow: hidden;
}
.selectWrapper select {
  padding-right: 20px;
  box-sizing:content-box;
  background-position: 95% center !important; 
}
#langLinks {
    position: absolute;

    right: 20px;
    margin-top: -25px;
    width: 100px;
}

#langLinks a {
    float: left; font-family: Meta; font-size: 12px; color: #a67861;

}

#langLinks span {
    float: left; font-family: Meta; font-size: 12px; color: #a67861;

    margin: 0px 5px;
}


/* END - BUG FIX */

/* Screen */
@media all and (max-width: 700px) {

    #wrapper {
       background-position: center center !important;
       background: url(../Files/Pages/Home/Pictures/background-smartphone.jpg);
       background-size: cover; 
    }

    #wrapper-detail {
       max-width: 1280px;
       min-height: 100%;
       background: url(../Files/Products/01/Pictures/background-portrait.jpg) no-repeat;
       background-position: center -275px;
       background-color: #411c13;
       margin: auto;
    }
    
        
    #wrapper-data-page {
       max-width: 1280px;
       min-height: 100%;
       position: absolute;
       right: 0;
       left: 0px;
       background: url(../Files/Pages/DataPage/Pictures/background.jpg) no-repeat;
       background-attachment: fixed;
       background-size: cover;
       margin: auto;
    }


}

@media all and (min-width: 701px) and (max-width: 1018px) {

    #wrapper {
       background-position: center center !important;
       background: url(../Files/Pages/Home/Pictures/background-portrait.jpg);
       background-size: cover; 
    }

    #wrapper-detail {
       max-width: 1280px;
       min-height: 100%;
       background: url(../Files/Products/01/Pictures/background-portrait.jpg) no-repeat;
       background-position: left top;
       background-color: #411c13;
       margin: auto;
    }
    
    #wrapper-data-page {
       max-width: 1280px;
       min-height: 100%;
       position: absolute;
       right: 0;
       left: 0px;
       background: url(../Files/Pages/DataPage/Pictures/background.jpg) no-repeat;
       background-attachment: fixed;
       background-size: cover;
       margin: auto;
    }

}

@media all and (min-width: 1019px) and (max-width: 1274px) {

    #wrapper {
       background-position: -115px center;
    }

}

@media all and (min-width: 1275px) {

    #wrapper {
       background-position: center center;
    }

}