


/* AVENIR FAMILY */

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirNext/AvenirNextCondensedRegular.eot');
	src: local('☺'), url('../fonts/AvenirNext/AvenirNextCondensedRegular.woff') format('woff'), url('../fonts/AvenirNext/AvenirNextCondensedRegular.ttf') format('truetype'), url('../fonts/AvenirNext/AvenirNextCondensedRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}






/* TRAJAN FAMILY */

@font-face {
	font-family: 'Trajan';
	src: url('../fonts/Trajan/TrajanRegular.eot');
	src: local('☺'), url('../fonts/Meta/TrajanRegular.woff') format('woff'), url('../fonts/Meta/TrajanRegular.ttf') format('truetype'), url('../fonts/Meta/TrajanRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Trajan';
	src: url('../fonts/Trajan/TrajanBold.eot');
	src: local('☺'), url('../fonts/Meta/TrajanBold.woff') format('woff'), url('../fonts/Meta/TrajanBold.ttf') format('truetype'), url('../fonts/Meta/TrajanBold.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}



/* META FAMILY */

@font-face {
	font-family: 'Meta';
	src: url('../fonts/Meta/MetaPlus-Normal.eot');
	src: local('☺'), url('../fonts/Meta/MetaPlus-Normal.woff') format('woff'), url('../fonts/Meta/MetaPlus-Normal.ttf') format('truetype'), url('../fonts/Meta/MetaPlus-Normal.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}












