


/* AVENIR FAMILY */

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirNext/AvenirNextCondensedRegular.eot');
	src: local('☺'), url('../fonts/AvenirNext/AvenirNextCondensedRegular.woff') format('woff'), url('../fonts/AvenirNext/AvenirNextCondensedRegular.ttf') format('truetype'), url('../fonts/AvenirNext/AvenirNextCondensedRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}



/* MYRAID PRO FAMILY */

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro/MyriadProRegular.eot');
	src: local('☺'), url('../fonts/MyriadPro/MyriadProRegular.woff') format('woff'), url('../fonts/MyriadPro/MyriadProRegular.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadProRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro/MyriadProSemibold.eot');
	src: local('☺'), url('../fonts/MyriadPro/MyriadProSemibold.woff') format('woff'), url('../fonts/MyriadPro/MyriadProSemibold.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadProSemibold.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro/MyriadProBold.eot');
	src: local('☺'), url('../fonts/MyriadPro/MyriadProBold.woff') format('woff'), url('../fonts/MyriadPro/MyriadProBold.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadProBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}



/* TRAJAN FAMILY */

@font-face {
	font-family: 'Trajan';
	src: url('../fonts/Trajan/TrajanRegular.eot');
	src: local('☺'), url('../fonts/MyriadPro/TrajanRegular.woff') format('woff'), url('../fonts/MyriadPro/TrajanRegular.ttf') format('truetype'), url('../fonts/MyriadPro/TrajanRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Trajan';
	src: url('../fonts/Trajan/TrajanBold.eot');
	src: local('☺'), url('../fonts/MyriadPro/TrajanBold.woff') format('woff'), url('../fonts/MyriadPro/TrajanBold.ttf') format('truetype'), url('../fonts/MyriadPro/TrajanBold.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}













