header{
    width: 100%;
    z-index: 1000;
}

header .divContent{
    padding-top: 40px;
    margin: auto;
    height: 105px;
    z-index: 2;
}

header .divContent .aLogo:link {
    position: absolute;
    width: 146px;
    height: 65px;
    left: 60px;
}
header .divContent a img {
    width: 146px;
    height: 65px;
}

.accountAndBasket{
    position: absolute;
    display: flex;
    left: 50%;
    align-items: center;
    margin-left: 398px;
    top: 125px;
}

.accountAndBasket a:last-child{

}

.accountAndBasket a{
    opacity:0.7;
    transition:all 0.5s;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.accountAndBasket a:hover{
    opacity:1;
}

.accountAndBasket a span.accountAndBasketWording {
    float: left;

    font-family: Meta;
    font-size: 12px;
    color: #a67861;
}

.accountAndBasket a img {
    float: left;
    
    margin-right: 8px;
}





/* Screen */
@media all and (max-width: 400px) {
    header .divContent{
        width: 90%;
        padding-top: 20px;
        height: 60px;
        position:absolute;
    }

    header .divContent .aLogo:link,
    header .divContent .aLogo:visited{
        position: absolute;
        left: 0;
    }

    header .divContent a img {
        left: 30px;
        width: 90px;
        height: auto;
    }
    
    
    .accountAndBasket{
        position: absolute;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        right: 50px;
        left: auto;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-left: 88px;
        top: 31px;
    
        z-index: 99999999999999999999;
}

    .accountAndBasket a:last-child{

    }

    .accountAndBasket a{
        opacity:0.7;
        transition:all 0.5s;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-right: 12px;
    }
    .accountAndBasket a:hover{
        opacity:1;
    }

    .accountAndBasket a span.accountAndBasketWording {
        float: left;

        font-family: Meta;
        font-size: 12px;
        color: #a67861;
    
        display: none;
}

    .accountAndBasket a img {
        float: left;
        
        margin-right: 8px;
    }

}

@media all and (min-width: 401px) and (max-width: 700px) {
    header .divContent{
        width: 90%;
        padding-top: 20px;
        height: 85px;
    }

    header .divContent .aLogo:link,
    header .divContent .aLogo:visited{
        position: absolute;
        left: 0;
        width: 146px;
        height: 65px;
    }
    
    
    .accountAndBasket{
        position: absolute;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        left: 50%;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-left: 398px;
        top: 125px;
    }

    .accountAndBasket a:last-child{

    }

    .accountAndBasket a{
        opacity:0.7;
        transition:all 0.5s;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-right: 20px;
    }
    .accountAndBasket a:hover{
        opacity:1;
    }

    .accountAndBasket a span.accountAndBasketWording {
        float: left;

        font-family: Meta;
        font-size: 12px;
        color: #a67861;
    }

    .accountAndBasket a img {
        float: left;
        
        margin-right: 8px;
    }

}

@media all and (min-width: 701px) and (max-width: 1018px) {
    header .divContent{
        width: 700px;
        height: 180px;
    }

    header .divContent .aLogo:link,
    header .divContent .aLogo:visited{
        position: absolute;
        left: 0;
        width: 146px;
        height: 65px;
    }
    
    
    .accountAndBasket{
        position: absolute;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        left: 50%;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-left: 178px;
        top: 96px;
    }

    .accountAndBasket a:last-child{

    }

    .accountAndBasket a{
        opacity:0.7;
        transition:all 0.5s;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-right: 20px;
    }
    .accountAndBasket a:hover{
        opacity:1;
    }

    .accountAndBasket a span.accountAndBasketWording {
        float: left;

        font-family: Meta;
        font-size: 12px;
        color: #a67861;
    }

    .accountAndBasket a img {
        float: left;
        
        margin-right: 8px;
    }


}

@media all and (min-width: 1019px) and (max-width: 1274px) {
    header .divContent{
        width: 980px;
    }

    header .divContent .aLogo:link,
    header .divContent .aLogo:visited{
        position: absolute;
        left: 20px;
        width: 146px;
        height: 65px;
    }
    
    
    .accountAndBasket{
        position: absolute;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        left: 50%;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-left: 287px;
        top: 125px;
    }

    .accountAndBasket a:last-child{

    }

    .accountAndBasket a{
        opacity:0.7;
        transition:all 0.5s;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        margin-right: 20px;
    }
    .accountAndBasket a:hover{
        opacity:1;
    }

    .accountAndBasket a span.accountAndBasketWording {
        float: left;

        font-family: Meta;
        font-size: 12px;
        color: #a67861;
    }

    .accountAndBasket a img {
        float: left;
        
        margin-right: 8px;
    }

}

@media all and (min-width: 1275px) {
    header .divContent{
        width: 1260px;
    }

    header .divContent .aLogo:link,
    header .divContent .aLogo:visited{
        position: absolute;
        left: 60px;
        width: 146px;
        z-index: 9;
        height: 65px;
    }

}