

section.personalDataPage {
    max-width: 1240px;
    margin: auto;
}

section.personalDataPage .pageContent {
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 1px;
    top: 100px;
    bottom: 0px;
    left: 120px;
    background: rgba(189,177,172, 0.9);
}
section.loginPage .pageContent {
    position: fixed;
    width: 600px;
    padding-bottom: 50px;
    bottom: 0px;
    right: 10%;
    background: rgba(189,177,172, 0.9);
}
section.signUpPage .pageContent {
    position: fixed;
    width: 600px;
    padding-bottom: 50px;
    bottom: 0px;
    right: 10%;
    background: rgba(189,177,172, 0.9);
}
section.personalDataPage .pageContent .pageTitle, section.loginPage .pageContent .pageTitle, section.signUpPage .pageContent .pageTitle {
    width: 90%;
    padding-top: 20px;
    margin: 35px auto;
    border-top:1px solid #fee5cc;
}

section.personalDataPage .pageContent .formSection, section.loginPage .pageContent .formSection, section.signUpPage .pageContent .formSection {
    width: 90%;
    padding-bottom: 0px;
    margin: 30px auto;
    margin-bottom: -20px;
    text-align: justify;
}


a.signUp, a.forgotPassword {
    margin-top: 11px;
    transition: all 0.3s;
    margin-left: 20px;
    width: 200px;
}

span.spanOr {
    margin: 20px 0px;
    text-align: center;
    width: 100%;
}

select.input {
    background-image: url(../images/@2x/icon-arrow-down-dark@2x.png);
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 15px;
    padding:0px;
    padding-left:20px;
    height:40px;
}


div.divSocialIcons a.aSocialIcon {
    float: left;
    width: 170px;
    height: 35px;
    margin: 5px;
    text-align: center;
    border: 1px solid #e2cfbf;
    transition:all 0.3s;
    text-align: left;
}
div.divSocialIcons a.aSocialIcon:hover {
    background-color: #e2cfbf;
}
div.divSocialIcons a.aSocialIcon img {
    height: 15px;
    margin: 0 auto;
    float: left;
    margin-top: 9px;
    margin-left: 15px;
    margin-right: 13px;
}


a.contShopping {
    text-decoration: underline !important;
    margin-top: 5px;
}


div.divMemberD {
    top:10px
}

span.requiredFieldsNote {
    float:right;
    line-height: 14px;
}

.divNewMemberContent div.formSubTitle {
    margin-top: 40px;
}

div.alreadyAMemberOrNot {
    width: 300px; margin-left: 50px;

    margin-top: 30px;
}

div.alreadyAMemberOrNot label {
    width: 300px;
    
    height: 30px;
    margin-top: -5px;
    font-weight: 400;
    letter-spacing: 0.001em;
}

input[type="text"].input.innerLabel {
    float: right;
    top: -5px;
}

div.alreadyAMemberOrNot label.additionalInputLabel {
    position: absolute;

    right: -83px;
    bottom: -5px;
}

    p.pContactGuide {
        padding: 36px;
    
        padding-top: 0px;
        margin-top: -20px;
        color: #441e15;
        opacity: 0.7;
        width: 70%;
        padding-bottom: 0px;
}

    textarea.inputTextE {
        height: 100px;
    
        resize: none;
}


/* Screen */
@media all and (max-width: 400px) {

    section.personalDataPage .pageContent, section.signUpPage .pageContent, section.loginPage .pageContent {
        width: 90%;
        padding-bottom: 50px;
        padding-top: 20px;
        left: 0;
        margin: 0 auto;
        margin-top: 17.3%;
        background: rgba(189,177,172, 0.9);
        position: relative;
        min-height: 100%;
        
    }

    div.alreadyAMemberOrNot label.additionalInputLabel {
        position:relative;
        right: 0px;
        bottom: -15px;
        left:-35px
    }
    
    div.divSocialIcons a.aSocialIcon {
        float: none;
        width: 170px;
        height: 35px;
        margin: 5px auto;
        text-align: center;
        border: 1px solid #e2cfbf;
        transition:all 0.3s;
        text-align: left;
    }
    
    span.spanOr {
        margin: 20px 0px;
        margin-top:30px;
        text-align: center;
        width: 100%;
    }
    section.personalDataPage .pageContent .pageTitle, section.loginPage .pageContent .pageTitle, section.signUpPage .pageContent .pageTitle {
        width: 90%;
        padding-top: 20px;
        margin: 35px auto;
        margin-top:0px;
        border-top: 1px solid #fee5cc;
    }

        p.pContactGuide {
        padding: 20px;
    
        padding-top: 0px;
        margin-top: -20px;
        color: #441e15;
        opacity: 0.7;
        width: 100%;
        padding-bottom: 0px;
}

    textarea.inputTextE {
        height: 100px;
    
        padding-top: 15px;
        resize: none;
}

}

@media all and (min-width: 401px) and (max-width: 700px) {

}

@media all and (min-width: 701px) and (max-width: 1018px) {

    section.personalDataPage { 
    }

    section.personalDataPage .pageContent, section.signUpPage .pageContent, section.loginPage .pageContent {
        width: 90%;
        left: 0;
        margin: auto;
        height: auto !important;
        margin-top: 56%;
        background: rgba(189,177,172, 0.9);
        position: relative;
}
    section.personalDataPage .pageContent{
    margin-top: calc(20.4% - 110px);

    padding-top: 30px;
}
    section.signUpPage .pageContent{
    margin-top: calc(43.6% - 110px);

    padding-top: 30px;
}
    section.loginPage .pageContent{
    margin-top: calc(45% - 141px);

    padding-top: 30px;
}

    section.personalDataPage .pageContent .formSection, section.signUpPage .pageContent .formSection, section.loginPage .pageContent .formSection {
        width: 90%;
        height: auto;
        padding-bottom: 20px;
        margin: 30px auto;
        text-align: justify;
        overflow: auto;
    }
    
        div.divSocialIcons a.aSocialIcon {
        float: left;
        width: 187px;
        height: 35px;
        margin: 10px;
        text-align: center;
        border: 1px solid #e2cfbf;
        transition:all 0.3s;
        text-align: left;
    }
    
    span.spanOr {
        margin: 20px 0px;
        margin-top:30px;
        text-align: center;
        width: 100%;
    }
    section.personalDataPage .pageContent .pageTitle, section.loginPage .pageContent .pageTitle, section.signUpPage .pageContent .pageTitle {
        width: 90%;
        padding-top: 20px;
        margin: 35px auto;
        margin-top:0px;
        border-top: 1px solid #fee5cc;
    }
    
    p.pContactGuide {
        padding: 36px;
    
        padding-top: 0px;
        margin-top: -20px;
        color: #441e15;
        opacity: 0.7;
        width: 70%;
        padding-bottom: 0px;
}

    textarea.inputTextE {
        height: 100px;
    
        resize: none;
}


}

@media all and (min-width: 1019px) and (max-width: 1274px) {

}

@media all and (min-width: 1275px) {

}