

header {
    padding-bottom: 30px;
    background: rgba(24,5,3,0.9);
}

.accountAndBasket {
    top: 115px;
}
main {
    text-align: center;
}
.staticContentWrapper {
    width:960px;
    margin: 0 auto;
    display: inline-block;
    min-height: 400px;
    text-align: left;
    left: 100px;
    margin-top: -webkit-calc(100vh - 627px);
    margin-top: calc(100vh - 627px);
}

.staticContentMainImage {
    width: 460px;
    float: left;
    min-height: 2px;
}

    .staticContentMainImage img {
        width: 100%;
    }

.staticContentWording {
    width:500px;
    min-height: 490px;
    float: left;
    padding: 30px 20px;
    background: rgba(65,28,19,1);
}

    .staticContentWording .pageTitle {
        padding-top:20px;
        border-top:1px solid #fee5cc;
        margin-bottom:20px;
        line-height:30px;
    }

.pageName{
    padding-bottom: 5px;

} 

    .pageName h2{
        font-size:11px;
    } 

.pageDescription h3 {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-bottom: 1px solid #8c685f;
    border-top: 1px solid #8c685f;
    line-height: 24px;
}


/* Screen */
@media all and (max-width: 700px) {
.staticContentWrapper {
    width: 90%;
    margin: 0 auto;
    display: inline-block;
    min-height: 400px;
    text-align: left;
    left: 0;
    margin-top: 5%;
}

.accountAndBasket {
    top: 32px;
}

.staticContentMainImage {
    width: 100%;
    float: none;
    margin: 0 auto;
    left: 0px;
}

    .staticContentMainImage img {
        width: 100%;
    }

.staticContentWording {
    width: 100%;
    min-height: 315px;
    float: left;
    padding: 30px 20px;
    background: rgba(65,28,19,1);
}

    .staticContentWording .pageTitle {
        padding-top:20px;
        border-top:1px solid #fee5cc;
        margin-bottom:20px;
        line-height:30px;
    }
    
    
    
    
    header .navSeperator {
        display:none;
    }

}

@media all and (min-width: 701px) and (max-width: 1018px) {
.staticContentWrapper {
    width: 700px;
    margin: 0 auto;
    display: inline-block;
    min-height: 400px;
    text-align: left;
    left: 0;
    margin-top: 34px;
}
.accountAndBasket {
    top: 95px;
}
.staticContentMainImage {
    width: 100%;
    float: none;
    margin: 0 auto;
    left: 0px;
}

    .staticContentMainImage img {
        width: 100%;
    }

.staticContentWording {
    width: 100%;
    min-height: 315px;
    float: left;
    padding: 30px 20px;
    background: rgba(65,28,19,1);
}

    .staticContentWording .pageTitle {
        padding-top:20px;
        border-top:1px solid #fee5cc;
        margin-bottom:20px;
        line-height:30px;
    }
}

@media all and (min-width: 1019px) and (max-width: 1274px) {
    header .navSeperator {
        width: 750px;
        height: 50px;
        top: 101px;
        right: 88px;
        background: url(../Images/divider-nav.png) no-repeat;
    
        position: absolute;
}

    .staticContentWrapper {
        width: 960px;
        margin: 0 auto;
        display: inline-block;
        min-height: 400px;
        left: auto;
        text-align: left;
        margin-top: -webkit-calc(734px - 625px);
        margin-top: calc(734px - 625px);
    }

}

@media all and (min-width: 1275px) {

}